
img{
    width: 300px;
    height: 300px;
}
body {
	margin: 0px;
	/* background-image: url( ' https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Porto_Covo_January_2014-10a.jpg/1920px-Porto_Covo_January_2014-10a.jpg ' ); */
	background-repeat:no-repeat;
	background-size: 100% 100%;

}
  nav {
	margin-top: 20px;
	padding: 30px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.1);
  }
  #nav-1 {
	background: rgba(255, 255, 255, 0.1);;
  }
  nav ul {
	padding: 0;
  	margin: 0;
	position: relative;
	}
	nav ul li {
		display:inline-block;
		background-color: (255, 255, 255, 0.1);
		}
		nav a {
			display:block;
			padding:0 10px;	
			color:rgb(255, 255, 255);
			font-size:30px;
			line-height: 60px;
			text-decoration:none;
		}
	
  .link-1 {
	transition: 0.3s ease;
	background:  rgba(255, 255, 255, 0.1);
	color: rgb(255, 255, 255);
	font-size: 30px;
	text-decoration: none;
	border-top: 4px solid rgba(255, 255, 255, 0.1);
	border-bottom: 4px solid rgba(255, 255, 255, 0.1);
	padding: 20px 0;
	margin: 0 20px;
  }
  .link-1:hover {
	border-top: 4px solid rgba(255, 255, 255, 0.1);
	border-bottom: 4px solid rgba(255, 255, 255, 0.1);
	padding: 6px 0; 
  }

  .A
  {
	position: relative;
	margin:0px auto;
	height:3500px;
	width: 500px;
	background:rgba(0, 0, 0, 0.1);
  }
  .a
  {
	position: relative;
	margin: 50px 10px 10px 35px;
	height: 300px;
	width: 300px;
	background: #bd0606;
  }

/*==================== page  start ==================== */

.pagination {
  display: block;
  width: 100%;
  margin: 1em auto;
  text-align: center;
  z-index: 2;
}

.pagination:after {
  content: "";
  clear: both;
}

.pagination-button {
  display: inline-block;
  padding: 5px 10px;
  border: 0px solid transparent;
  background-color: transparent;
  color: black;
  cursor: pointer;
  font-size: 14px;
  border-radius: 30px;
  margin: 5px;
}

.pagination-button:hover {
  color: orange;
}

.pagination-button.active {
  background-color: orange;
  border-color: white;
  color: black;
}

.pagination-button:first-of-type {
  border-radius: 18px 0 0 18px;
  font-size: 28px;
  background-color: transparent;
}

.pagination-button:last-of-type {
  border-radius: 0 18px 18px 0;
  font-size: 28px;
  background-color: transparent;
}
.pagination-items {
  display: flex;
  width: 100%;
  height: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

  @media screen and (min-width:  900px){
	  .A{
		width: 1400px;
		height: 1000px;
		display: flex;
		flex-wrap: wrap;

	}
	  .a {
		  width: 300px;
		  height: 300px;
		 
	  }
  }